.App {
  background-color: var(--page-bg, #fff);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color) !important;
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
}
.App.mode-light {
  --page-bg: rgb(250,252,255);
  --component-bg: #fff;
  --component-bg-muted: rgb(245,246,247);
  --component-bg-hover: rgb(246,248,250);
  --component-bg-active: rgb(240,242,244);
  --component-border: rgb(209,213,219);
  --text-color: #000;
  --text-color-secondary: rgb(100,102,105);
  --text-color-on-active: #fff;
  --danger-text: rgb(180,18,18);
  --border-dark-mode-only: transparent;
  --border-muted: rgb(220,222,225);
  --color-active: rgb(20,110,230);
  --color-danger: rgb(180,18,18);
}
.App.mode-dark {
  --page-bg: rgb(30,32,35);
  --component-bg: rgb(10,12,15);
  --component-bg-hover: rgb(40,42,45);
  --component-bg-active: rgb(46,48,50);
  --component-border: rgb(60,62,65);
  --text-color: rgb(200,202,205);
  --text-color-secondary: rgb(100,102,105);
  --text-color-on-active: #fff;
  --danger-text: rgb(240,108,108);
  --border-dark-mode-only: rgb(60,62,65);
  --border-muted: rgb(50,52,55);
  --color-active: rgb(20,110,230);
  --color-danger: rgb(240,108,108);
}
.scales-container {
  display: block;
  align-self: flex-start;
  width: calc(100%);
  height: max-content;
  overflow-x: scroll;
}
.scales {
  margin: 0;
  padding: 24px;
  background: var(--scale-bg);
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
